@using Peacock.ZXEval.Model.DTO
@model RevaluationModel
@{
    ViewBag.Title = "Revaluating";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="report-tab" style="padding-bottom: 0;">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">复估信息</h3>
        </div>
        <div class="panel-body">
            <input type="hidden" id="revaluationId" name="revaluationId" value="@Model.TId" />
            <table class="info">
                <tr>
                    <td width="7%" class="blue">复估单号</td>
                    <td width="18%" style="text-align:center">@Model.RevaluationNo</td>
                    <td width="7%" class="blue">复估名称</td>
                    <td width="18%" style="text-align:center">@Model.RevaluationName</td>
                    <td width="7%" class="blue">业务类型</td>
                    <td width="18%" style="text-align:center">@Model.EvalType</td>
                    <td width="7%" class="blue">受理公司</td>
                    <td width="18%" style="text-align:center">@Model.Company.CompanyName</td>
                </tr>
                <tr></tr>
            </table>
        </div>
    </div>
    <div style="text-align: right">
        @if (Model.RevaluationStatus == RevaluationStatusEnum.复估受理)
        {
            <button type="button" class="business-btn-1 auto" style="display: none" disabled="disabled" name="finishBtn" id="finishBtn">复估完成</button>
        }
        <button type="button" class="business-btn-1 auto" name="exportBtn" id="exportBtn">批量下载押品</button>
        @if (Model.RevaluationStatus == RevaluationStatusEnum.复估受理)
        {
            <button type="button" class="business-btn-1 auto" name="uploadBtn" id="uploadBtn">批量上传结果</button>
        }
    </div>
    <div id="tablelist" class="tablelist">
        <table id="table"></table>
    </div>
</div>

<form id="revaluatingForm" class="layer_feedback" style="display: none;" enctype="multipart/form-data">
    <h2><span id="tipsSpan">填写复估结果</span><i class="fa fa-close pull-right" onclick="cancel()"></i></h2>
    <input type="hidden" id="hiddenRevaluationItemId" />
    <table>
        <tr style="height: 18px;"></tr>
        <tr>
            <td class="left font_s_14" style="width:120px;">复估价值(元)</td>
            <td style="width: 260px;">
                <input type="text" class="business-input" name="input_RevaluationValue" id="input_RevaluationValue" />
            </td>
        </tr>
        <tr>
            <td class="left font_s_14" style="width:120px;">变动说明</td>
            <td style="width: 260px;height: 50px">
                <textarea id="input_ChangeDescription" name="input_ChangeDescription" class="tc_textarea" style="height: 100%"></textarea>
            </td>
        </tr>
        <tr>
            <td class="left font_s_14" style="width:120px;">备注</td>
            <td style="width: 260px; height: 80px">
                <textarea id="input_Remark" name="input_Remark" class="tc_textarea" style="height: 100%"></textarea>
            </td>
        </tr>
        <tr style="height: 18px;"></tr>
        <tr><td colspan="3" class="f-tc"><button class="btn-blue" id="submitRevaluationItem">保存</button></td><td></td></tr>
    </table>
</form>

<form id="detailForm" class="layer_feedback" style="display: none;" enctype="multipart/form-data">
    <h2><span id="tipsSpan1">查看复估项目详情</span><i class="fa fa-close pull-right" onclick="cancel1()"></i></h2>
    <table class="border-inpt">
        <tr style="height: 18px;"></tr>
        <tr>
            <td class="left font_s_14 blue">经营机构</td>
            <td colspan="3">
                <input type="text" class="business-input" name="OperationOrganization" id="OperationOrganization" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td class="left font_s_14 blue">管户客户经理</td>
            <td>
                <input type="text" class="business-input" name="CustomerAccountManager" id="CustomerAccountManager" readonly="readonly" />
            </td>
            <td class="left font_s_14 blue">联系电话</td>
            <td>
                <input type="text" class="business-input" name="ContactNumber" id="ContactNumber" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td class="left font_s_14 blue">协议号</td>
            <td>
                <input type="text" class="business-input" name="ProtocolNumber" id="ProtocolNumber" readonly="readonly" />
            </td>
            <td class="left font_s_14 blue">客户号</td>
            <td>
                <input type="text" class="business-input" name="CustomerNumber" id="CustomerNumber" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td class="left font_s_14 blue">押品地址</td>
            <td colspan="3">
                <input type="text" class="business-input" name="PledgeAddress" id="PledgeAddress" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td class="left font_s_14 blue">押品类型</td>
            <td>
                <input type="text" class="business-input" name="PropertyType" id="PropertyType" readonly="readonly" />
            </td>
            <td class="left font_s_14 blue">借款人名称</td>
            <td>
                <input type="text" class="business-input" name="BorrowerName" id="BorrowerName" readonly="readonly" />
            </td>
        </tr>
        <tr>
            <td class="left font_s_14 blue">初估价值(元)</td>
            <td>
                <input type="text" class="business-input" name="InitialEstimateValue" id="InitialEstimateValue" readonly="readonly" />
            </td>
            <td class="left font_s_14 blue">初估时间</td>
            <td>
                <input type="text" class="business-input" name="InitialEstimateTime" id="InitialEstimateTime" readonly="readonly" />
            </td>
        </tr>
        <tr id="hiddenTR" style="display:none">
            <td class="left font_s_14 blue">复估价值(元)</td>
            <td>
                <input type="text" class="business-input" name="RevaluationValue" id="RevaluationValue" readonly="readonly" />
            </td>
            <td class="left font_s_14 blue">复估时点</td>
            <td>
                <input type="text" class="business-input" name="RevaluationTime" id="RevaluationTime" readonly="readonly" />
            </td>
        </tr>
        <tr id="hiddenTR1" style="display:none">
            <td class="left font_s_14 blue">变动说明</td>
            <td colspan="3">
                <div id="ChangeDescription" class="moreline"></div>
                @*<textarea id="ChangeDescription" name="ChangeDescription" class="tc_textarea" style="height: 100%" readonly="readonly" ></textarea>*@
            </td>
        </tr>
        <tr id="hiddenTR2" style="display:none">
            <td class="left font_s_14 blue">备注</td>
            <td colspan="3">
                <div id="Remark" class="moreline"></div>
                @*<textarea id="Remark" name="Remark" class="tc_textarea" style="height: 100%"></textarea>*@
            </td>
        </tr>
    </table>
</form>

<form id="fileForm" class="layer_feedback" style="display: none;" enctype="multipart/form-data">
    <h2>
        <span id="tipsSpan2">@Html.Raw("批量上传" + Model.RevaluationNo + "结果")</span><i class="fa fa-close pull-right" onclick="cancel2()"></i>
    </h2>
<table>
    <tr style="height: 18px;"></tr>
    <tr>
        <td class="left font_s_14" style="width:60px;">文件</td>
        <td style="width: 280px;">
            <div class="file">
                <input name="" type="text" id="viewfile" class="inputstyle" readonly="readonly">
                <input type="file" id="ReportFile" style="width: 270px;" name="reportfile" class="registered-tab-input inputfile" onchange="document.getElementById('viewfile').value=this.value;" />
                <i class="registered-fs ziliao">选择文件</i>
            </div>
        </td>
    </tr>
    <tr style="height: 18px;"></tr>
    <tr><td colspan="3" class="f-tc"><button class="btn-blue" id="submitFile">保存</button></td><td></td></tr>
</table>
</form>

<script type="text/javascript">
    var index, dialog, confirm, dialog1;
    var pageIndex, pageRows;
    $(function () {
        tableint(0, 0);

        //提交单项复估
        $("#submitRevaluationItem").on("click", function () {
            if (!$("#revaluatingForm").valid()) return false;
            var options = {
                url: '@Url.Action("RevaluatingRevaluationItem", "Revaluation")',
                dataType: "json",
                type: "post",
                data: {
                    TID: $("#hiddenRevaluationItemId").val(),
                    RevaluationValue: $("#input_RevaluationValue").val(),
                    ChangeDescription: $("#input_ChangeDescription").val(),
                    Remark: $("#input_Remark").val()
                },
                beforesend: showLoadingTips(),
                complete: function () { hideLoadingTips(); },
                success: function (result) {
                    if (result.success) {
                        layer.alert('操作成功', { icon: 1 });
                        cancel();
                        search();
                    } else {
                        layer.alert(result.message, { icon: 2 });
                    }
                },
                error: function () {
                    layer.alert('操作失败！', { icon: 2 });
                }
            };
            $("#revaluatingForm").ajaxSubmit(options);
            return false; //阻止form提交
        });

        //复估完成
        $("#finishBtn").on("click", function () {
            confirm = layer.confirm('确定完成复估单？', {
                btn: ['确定', '取消']
            }, function () {
                $.ajax({
                    url: '@Url.Action("FinishRevaluation", "Revaluation")',
                    dataType: "json",
                    type: "post",
                    data: {
                        'id': '@Model.TId'
                    },
                    beforesend: showLoadingTips(),
                    complete: function () { hideLoadingTips(); },
                    success: function (result) {
                        if (result.success) {
                            //layer.alert('操作成功', { icon: 1 });
                            //$('#finishBtn').hide();
                            //$('#uploadBtn').hide();
                            //$('#finishBtn').attr("disabled", true);
                            //$('#uploadBtn').attr("disabled", true);
                            //parent.iframe_Revaluation.window.search();
                            layer.alert('操作成功!', { icon: 1 }, function () {
                                parent.changeIframe('Revaluation', '复估任务', '@Url.Action("Index", "Revaluation")');
                                if (parent.iframe_Revaluation != null) {
                                    parent.iframe_Revaluation.window.search();
                                }
                                parent.removeItem("Revaluating_Revaluation");
                            });
                        } else {
                            layer.alert(result.message, { icon: 2 });
                        }
                    },
                    error: function () {
                        layer.alert('操作失败！', { icon: 2 });
                    }
                });
            }, function () {
                layer.close(confirm);
            });
        });

        //导出
        $("#exportBtn").on("click", function () {
            showLoadingTips();
            window.location.href = "@Url.Content("~/Revaluation/ExportRevaluation?id=")" + "@Model.TId" + "&revaluationNo=" + "@Model.RevaluationNo";
            hideLoadingTips();
        });

        //报告上传
        $("#uploadBtn").bind("click", function () {
            index = layer.open({
                type: 1,
                shade: [0.3, "#070707"],
                closeBtn: 0,
                area: ['420px', '230px'],
                title: false, //不显示标题
                content: $('#fileForm'), //捕获的元素
            });
        });

        //上传结果
        $("#submitFile").on("click", function () {
            $("#submitFile").attr("disabled", "disabled");
            var path = $("#ReportFile").val();
            var suffix = path.split('.');
            if (suffix[suffix.length - 1] != "xls" && suffix[suffix.length - 1] != "xlsx") {
                layer.msg("请上传excel文件!", { time: 1500, icon: 5, shade: [0.3, '#000'] });
                $("#submitFile").removeAttr("disabled");
                return false;
            }
            var indexs = layer.msg("正在上传，请销等...", { icon: 7, time: 30000, shade: [0.3, '#000'] });
            var url = "@Url.Content("~/Revaluation/UploadRevaluationResult")";
            var options = {
                url: url,
                type: "post",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: { id: "@Model.TId" },
                success: function (result) {
                    layer.alert(result.msg, {
                        closeBtn: 0,
                        icon: result.msg.indexOf("成功") >= 0 ? 6 : 2,
                        shade: [0.3, '#000']
                    }, function () {
                        layer.closeAll();
                        search();
                        $("#submitFile").removeAttr("disabled");
                    });

                },
                error: function (result) {
                    $("#submitFile").removeAttr("disabled");
                    layer.alert("操作失败。", {
                        closeBtn: 0,
                        icon: 2,
                        shade: [0.3, '#000']
                    });
                    parent.changeIframe('Revaluating_Revaluation', '开始复估' + "@Model.RevaluationNo", '@Url.Content("~/Revaluation/Revaluating?revaluationId=")' + "@Model.TId"); 
                }
            };
            $("#fileForm").ajaxSubmit(options);
            return false; //阻止form提交
        });
    });

    //查询列表
    function search(indexParam, rowsParam) {
        $('#table').bootstrapTable("destroy");
        if (indexParam == null && rowsParam == null) {
            indexParam = pageIndex;
            rowsParam = pageRows;
        }
        tableint(indexParam, rowsParam);
    }

    //列表初始化
    function tableint(indexParam, rowsParam) {
        $('#table').bootstrapTable({
            url: '/Revaluation/GetRevaluationItemList', //请求后台的URL（*）
            method: 'post', //请求方式（*）
            toolbar: '#toolbar', //工具按钮用哪个容器
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true, //是否显示分页（*）
            sortable: false, //是否启用排序
            sortOrder: "asc", //排序方式
            queryParams: function (params) {
                pageIndex = params.offset / params.limit + 1;
                pageRows = params.limit;
                return {
                    revaluationId: $("#revaluationId").val(),
                    index: params.offset / params.limit + 1, //页码
                    rows: params.limit, //页面大小
                };
            }, //传递参数（*）
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: indexParam == 0 ? 1 : indexParam, //初始化加载第一页，默认第一页
            pageSize: rowsParam == 0 ? 10 : rowsParam, //每页的记录行数（*）
            pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
            strictSearch: true,
            clickToSelect: true, //是否启用点击选中行
            height: 'auto', //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "TId", //每一行的唯一标识，一般为主键列
            cardView: false, //是否显示详细视图
            detailView: false, //是否显示父子表
            columns: [{
                field: 'Number',
                title: '序号',
                formatter: function (value, row, index) {
                    return index + 1;
                },
                width: '8%'
            },
                {
                    title: '流水号',
                    field: 'ProjectNo',
                    align: 'left',
                    valign: 'middle',
                    width: '12%'
                },
                {
                    title: '押品地址',
                    field: 'PledgeAddress',
                    align: 'left',
                    valign: 'middle',
                    width: '31%'
                },
                {
                    title: '押品类型',
                    field: 'PropertyType',
                    align: 'left',
                    valign: 'middle',
                    width: '8%'
                },
                {
                    title: '借款人名称',
                    field: 'BorrowerName',
                    align: 'left',
                    valign: 'middle',
                    width: '8%'
                },
                {
                    title: '初估价值(元)',
                    field: 'InitialEstimateValue',
                    align: 'left',
                    valign: 'middle',
                    width: '12%'
                },
                {
                    title: '复估价值(元)',
                    field: 'RevaluationValue',
                    align: 'left',
                    valign: 'middle',
                    width: '12%'
                },
                {
                    title: '复估时点',
                    field: 'RevaluationTime',
                    align: 'left',
                    valign: 'middle',
                    width: '16%'
                },
                {
                    title: '操作',
                    align: 'center',
                    valign: 'middle',
                    width: '16%',
                    formatter: function (value, row, index) {
                        var a = '';
                        @if (Model.RevaluationStatus == RevaluationStatusEnum.复估受理)
                        {
                            @Html.Raw("a+= '<a href=\"javascript:void(0);\"  onclick=revaluate(\"' + row.TId + '\",\"' + row.ProjectNo + '\")>复估</a>&nbsp;|';");
                        }
                        a += '<a href="javascript:void(0);"  onclick=viewDetail("' + row.TId + '","' + row.ProjectNo + '")>查看详情</a>&nbsp;';
                        return a;
                    }
                }
            ],
            onLoadSuccess: function (data) {
                var status = '@Model.RevaluationStatus';
                var shouli = '@RevaluationStatusEnum.复估受理';
                if (data.canFinish && status==shouli) {
                    $('#finishBtn').show();
                    $('#finishBtn').attr("disabled", false);
                    if (parent.iframe_Revaluation != null) {
                        parent.iframe_Revaluation.window.search();
                    }
                }
            },
        });
    }

    //单项复估
    function revaluate(id, projectNo) {
        $("#tipsSpan").html("填写" + projectNo + "复估结果");
        $("#hiddenRevaluationItemId").val(id);
        $.ajax({
            url: '@Url.Action("GetRevaluationItemById", "Revaluation")',
            dataType: "json",
            type: "post",
            data: {
                'id': id
            },
            beforesend: showLoadingTips(),
            complete: function () { hideLoadingTips(); },
            success: function (result) {
                if (result != null) {
                    $("#input_RevaluationValue").val(result.RevaluationValue);
                    $("#input_ChangeDescription").val(result.ChangeDescription);
                    $("#input_Remark").val(result.Remark);
                    dialog = layer.open({
                        type: 1,
                        shade: [0.3, "#070707"],
                        closeBtn: 0,
                        area: ['480px', '320px'],
                        title: false, //不显示标题
                        content: $('#revaluatingForm'), //捕获的元素
                        success: function () {
                            $("#revaluatingForm").validate({
                                onkeyup: function (element) {
                                    $(element).valid();
                                },
                                rules: {
                                    //复估价值(元)
                                    input_RevaluationValue: {
                                        required: true,
                                        number: true,
                                        posintdec: true
                                    },
                                    //变动说明
                                    input_ChangeDescription: {
                                        required: true,
                                        byteRangeLength: 300
                                    },
                                    //备注
                                    input_Remark: {
                                        byteRangeLength: 500
                                    }
                                },
                                messages: {
                                    input_RevaluationValue: {
                                        required: "请输入复估价值",
                                        number: "请输入数字",
                                        posintdec: "小数点后最多能保留2位小数"
                                    },
                                    input_ChangeDescription: {
                                        required: "请输入变动说明",
                                        byteRangeLength: $.validator.format("长度不能超过{0}个字符")
                                    },
                                    input_Remark: {
                                        byteRangeLength: $.validator.format("长度不能超过{0}个字符")
                                    }
                                },
                                success: function (label) {
                                    layer.close(dialog1);
                                    $("#" + label[0].htmlFor).removeClass("error-border");
                                },
                                errorPlacement: function (error, element) {
                                    $("#" + element[0].id).addClass("error-border");
                                    dialog1 = layer.tips(error[0].innerHTML, "#" + element[0].id, {
                                        tips: [2, '#F99228']
                                    });
                                }
                            });
                        }
                    });
                }
            },
            error: function () {
                layer.alert('操作失败！', { icon: 2 });
            }
        });
    }

    //查看详情
    function viewDetail(id, projectNo) {
        $("#tipsSpan1").html("查看" + projectNo + "复估项目详情");
        $.ajax({
            url: '@Url.Action("GetRevaluationItemById", "Revaluation")',
            dataType: "json",
            type: "post",
            data: {
                'id': id
            },
            beforesend: showLoadingTips(),
            complete: function () { hideLoadingTips(); },
            success: function (result) {
                if (result != null) {
                    $("#ProtocolNumber").val(result.ProtocolNumber);
                    $("#CustomerNumber").val(result.CustomerNumber);
                    $("#PledgeAddress").val(result.PledgeAddress);
                    $("#PropertyType").val(result.PropertyType);
                    $("#BorrowerName").val(result.BorrowerName);
                    $("#InitialEstimateTime").val(result.InitialEstimateTime);
                    $("#InitialEstimateValue").val(result.InitialEstimateValue);
                    $("#RevaluationTime").val(result.RevaluationTime);
                    $("#RevaluationValue").val(result.RevaluationValue);
                    $("#OperationOrganization").val(result.OperationOrganization);
                    $("#CustomerAccountManager").val(result.CustomerAccountManager);
                    $("#ContactNumber").val(result.ContactNumber);
                    $("#ChangeDescription").text(result.ChangeDescription == null ? "" : result.ChangeDescription);
                    $("#Remark").text(result.Remark == null ? "" : result.Remark);
                    if (result.RevaluationValue != "" && result.RevaluationTime != "") {
                        $("#hiddenTR").show();
                        $("#hiddenTR1").show();
                        $("#hiddenTR2").show();
                    } else {
                        $("#hiddenTR").hide();
                        $("#hiddenTR1").hide();
                        $("#hiddenTR2").hide();
                    }
                    dialog = layer.open({
                        type: 1,
                        shade: [0.3, "#070707"],
                        closeBtn: 0,
                        area: ['620px', '420px'],
                        title: false, //不显示标题
                        content: $('#detailForm'), //捕获的元素
                    });
                }
            },
            error: function () {
                layer.alert('操作失败！', { icon: 2 });
            }
        });
    }

    //关闭单项复估
    function cancel() {
        $("#tipsSpan").val("填写复估结果");
        $("#hiddenRevaluationItemId").val("");
        $("#input_RevaluationValue").val("");
        $("#input_ChangeDescription").val("");
        $("#input_Remark").val("");
        layer.close(dialog);
    }

    //关闭详情
    function cancel1() {
        $("#tipsSpan1").val("查看复估项目详情");
        $("#ProtocolNumber").val("");
        $("#CustomerNumber").val("");
        $("#PledgeAddress").val("");
        $("#PropertyType").val("");
        $("#BorrowerName").val("");
        $("#InitialEstimateTime").val("");
        $("#InitialEstimateValue").val("");
        $("#RevaluationTime").val("");
        $("#RevaluationValue").val("");
        $("#OperationOrganization").val("");
        $("#CustomerAccountManager").val("");
        $("#ContactNumber").val("");
        $("#ChangeDescription").text("");
        $("#Remark").text("");
        $("#hiddenTR").hide();
        $("#hiddenTR1").hide();
        $("#hiddenTR2").hide();
        layer.close(dialog);
    }

    //关闭单项复估
    function cancel2() {
        layer.close(index);
    }
</script>
